<% if @user.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@user.errors.count, "problem") %>
        prevented you from signing up:<p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
