<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%#= f.text_area :description %>
    <%#= f.text_area :score %>

    <%# TODO: This is a hack, must fix %>
    <% @possible_actions =
			   [
                            [
			      'CLOTHES: I washed and pressed my clothes instead of taking to cleaners ($10)',
			      'CLOTHES: I washed and pressed my clothes instead of taking to cleaners ($10)'
			    ],
                            [
			      'CLOTHES: I unsubscribed from an online retailer\'s email list ($20)',
			      'CLOTHES: I unsubscribed from an online retailer\'s email list ($20)'
			    ],
                            [
			      'CLOTHES: I made my clothes (or asked a friend to make it for me) ($30)',
			      'CLOTHES: I made my clothes (or asked a friend to make it for me) ($30)'
			    ],
                            [
			      'CLOTHES: I bought clothes at a discount retailer ($50)',
			      'CLOTHES: I bought clothes at a discount retailer ($50)'
			    ],
                            [
			      'CLOTHES: I bought clothes at a used clothing store ($50)',
			      'CLOTHES: I bought clothes at a used clothing store ($50)'
			    ],
                            [
			      'CLOTHES: I repaired clothing rather than buying new ones ($50)',
			      'CLOTHES: I repaired clothing rather than buying new ones ($50)'
			    ],
                            [
			      'CLOTHES: I traded clothes with friends ($50)',
			      'CLOTHES: I traded clothes with friends ($50)'
			    ],
                            [
			      'CLOTHES: I decided not to buy something I didn\'t need ($100)',
			      'CLOTHES: I decided not to buy something I didn\'t need ($100)'
			    ],
                            [
			      'CLOTHES: I re-used or borrowed a dress rather than buying one for an event ($300)',
			      'CLOTHES: I re-used or borrowed a dress rather than buying one for an event ($300)'
			    ],
                            [
			      'DRINK: I drank water instead of buying a beverage ($3)',
			      'DRINK: I drank water instead of buying a beverage ($3)'
			    ],
                            [
			      'DRINK: I made coffee at home or drank free coffee ($3)',
			      'DRINK: I made coffee at home or drank free coffee ($3)'
			    ],
                            [
			      'DRINK: I got free drinks ($20)',
			      'DRINK: I got free drinks ($20)'
			    ],
                            [
			      'DRINK: I "pre-gamed" at home to avoid buying expensive beverages ($25)',
			      'DRINK: I "pre-gamed" at home to avoid buying expensive beverages ($25)'
			    ],
                            [
			      'DRINK: I went to a BYOB restaurant ($40)',
			      'DRINK: I went to a BYOB restaurant ($40)'
			    ],
                            [
			      'FINANCE: I donated an item for a tax deduction ($20)',
			      'FINANCE: I donated an item for a tax deduction ($20)'
			    ],
                            [
			      'FINANCE: I put money into a savings or investment account ($30)',
			      'FINANCE: I put money into a savings or investment account ($30)'
			    ],
                            [
			      'FINANCE: I paid off debt ($50)',
			      'FINANCE: I paid off debt ($50)'
			    ],
                            [
			      'FINANCE: I contributed to a retirement account ($50)',
			      'FINANCE: I contributed to a retirement account ($50)'
			    ],
                            [
			      'FOOD: I ate my roommate\'s food (with permission) rather than let it spoil ($5)',
			      'FOOD: I ate my roommate\'s food (with permission) rather than let it spoil ($5)'
			    ],
                            [
			      'FOOD: I made breakfast at home rather than going out ($5)',
			      'FOOD: I made breakfast at home rather than going out ($5)'
			    ],
                            [
			      'FOOD: I brought my lunch to work, ate lunch at home or had a free lunch ($10)',
			      'FOOD: I brought my lunch to work, ate lunch at home or had a free lunch ($10)'
			    ],
                            [
			      'FOOD: I made dinner at home ($20)',
			      'FOOD: I made dinner at home ($20)'
			    ],
                            [
			      'FOOD: I made weekend brunch at home rather than going out ($25)',
			      'FOOD: I made weekend brunch at home rather than going out ($25)'
			    ],
                            [
			      'FOOD: I had a free meal at my parents house ($25)',
			      'FOOD: I had a free meal at my parents house ($25)'
			    ],
                            [
			      'FOOD: I used a discount grocery (i.e. Trader Joe\'s instead of Whole Foods) ($50)',
			      'FOOD: I used a discount grocery (i.e. Trader Joe\'s instead of Whole Foods) ($50)'
			    ],
                            [
			      'HOME: I used the internet for international calls or texts (i.e. Skype, Whatsapp) ($20)',
			      'HOME: I used the internet for international calls or texts (i.e. Skype, Whatsapp) ($20)'
			    ],
                            [
			      'HOME: I shared an account with others (i.e. Netflix, cell family plan) ($20)',
			      'HOME: I shared an account with others (i.e. Netflix, cell family plan) ($20)'
			    ],
                            [
			      'HOME: I called a utility and asked for money back or a lower rate ($20)',
			      'HOME: I called a utility and asked for money back or a lower rate ($20)'
			    ],
                            [
			      'HOME: I am a member of a non-fancy-schmancy gym ($450)',
			      'HOME: I am a member of a non-fancy-schmancy gym ($450)'
			    ],
                            [
			      'HOME: I live with a roommate rather than on my own this month ($500)',
			      'HOME: I live with a roommate rather than on my own this month ($500)'
			    ],
                            [
			      'HOME: I live with family (or friends), rather than on my own this month ($700)',
			      'HOME: I live with family (or friends), rather than on my own this month ($700)'
			    ],
                            [
			      'HOME: I live with family for FREE, rather than on my own this month ($1000)',
			      'HOME: I live with family for FREE, rather than on my own this month ($1000)'
			    ],
                            [
			      'OTHER: I went to a matinnee ($2)',
			      'OTHER: I went to a matinnee ($2)'
			    ],
                            [
			      'OTHER: I posted on Facebook or Twitter about my financial goals ($10)',
			      'OTHER: I posted on Facebook or Twitter about my financial goals ($10)'
			    ],
                            [
			      'OTHER: I did my own beauty action (i.e. nails, hair, facial) ($30)',
			      'OTHER: I did my own beauty action (i.e. nails, hair, facial) ($30)'
			    ],
                            [
			      'OTHER: I got free or discounted baby items ($80)',
			      'OTHER: I got free or discounted baby items ($80)'
			    ],
                            [
			      'SHOP: I purchased a generic or cheaper brand ($3)',
			      'SHOP: I purchased a generic or cheaper brand ($3)'
			    ],
                            [
			      'SHOP: I used a coupon ($5)',
			      'SHOP: I used a coupon ($5)'
			    ],
                            [
			      'SHOP: I bought in bulk from Costco or other discount retailer ($10)',
			      'SHOP: I bought in bulk from Costco or other discount retailer ($10)'
			    ],
                            [
			      'SHOP: I borrowed a book from the library instead of buying it ($10)',
			      'SHOP: I borrowed a book from the library instead of buying it ($10)'
			    ],
                            [
			      'SHOP: I bought an item cheaper online (and also possibly did not pay sales tax) ($20)',
			      'SHOP: I bought an item cheaper online (and also possibly did not pay sales tax) ($20)'
			    ],
                            [
			      'SHOP: I returned things I do not need ($25)',
			      'SHOP: I returned things I do not need ($25)'
			    ],
                            [
			      'SHOP: I sold items at a used item store or online ($25)',
			      'SHOP: I sold items at a used item store or online ($25)'
			    ],
                            [
			      'SHOP: I used Groupon (or similar) for something I would normally pay full price ($25)',
			      'SHOP: I used Groupon (or similar) for something I would normally pay full price ($25)'
			    ],
                            [
			      'SHOP: I regifted ($50)',
			      'SHOP: I regifted ($50)'
			    ],
                            [
			      'SHOP: I was able to negotiate a lower price with a salesperson ($50)',
			      'SHOP: I was able to negotiate a lower price with a salesperson ($50)'
			    ],
                            [
			      'TRAVEL: I carpooled instead of driving ($3)',
			      'TRAVEL: I carpooled instead of driving ($3)'
			    ],
                            [
			      'TRAVEL: I walked instead of driving ($3)',
			      'TRAVEL: I walked instead of driving ($3)'
			    ],
                            [
			      'TRAVEL: I took public transportation instead of driving or taking a cab ($10)',
			      'TRAVEL: I took public transportation instead of driving or taking a cab ($10)'
			    ],
                            [
			      'TRAVEL: I found street parking rather than paying for a parking lot ($10)',
			      'TRAVEL: I found street parking rather than paying for a parking lot ($10)'
			    ],
                            [
			      'TRAVEL: I used a car share company (i.e. ZipCar, City CarShare) ($20)',
			      'TRAVEL: I used a car share company (i.e. ZipCar, City CarShare) ($20)'
			    ],
                            [
			      'TRAVEL: I got a free ride to the airport ($30)',
			      'TRAVEL: I got a free ride to the airport ($30)'
			    ],
                            [
			      'TRAVEL: I stayed in a cheap hotel, hostel or camped ($100)',
			      'TRAVEL: I stayed in a cheap hotel, hostel or camped ($100)'
			    ],
                            [
			      'TRAVEL: I used miles or points for travel ($200)',
			      'TRAVEL: I used miles or points for travel ($200)'
			    ],
                           ]
    %>
    <%= f.select :description, @possible_actions %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <div>
    <a style="color: #FF0000" href="mailto:me@adamarcher.com?subject=Please add an action for me
&body=Please add the following action to RedPuma: ">Don't see the action you want? Add it here!</a>
  </div>
<% end %>
