<h1>Help</h1>
<p>
This is the help page for Adam's app!
Get help on the Ruby on Rails Tutorial <a href="http://railstutorial.org/help">here</a>
Get help on this sample <a href="http://railstutorial.org/book">here</a>
</p>
