<h1>RedPuma Home</h1>
<p>
Welcome to the home page for the Redpuma Project!
<br><br>
Please feel free to click around to learn more.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
